.comments {
  margin: 2rem auto;
  width: 90%;
  max-width: 50rem;
  text-align: center;
}
.comments button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #03be9f;
  border-radius: 6px;
  color: #03be9f;
  font: inherit;
  padding: 0.5rem 1rem;
}
.comments button:hover,
.comments button:active {
  background-color: #dcfff9;
}
