.form {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: #03be9f;
  border-radius: 6px;
  width: 100%;
  padding: 0.8rem 1rem;
  margin: 2rem auto;
  text-align: end;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.control {
  flex: 1;
  min-width: 10rem;
  margin-bottom: 0.5rem;
}
.control label {
  color: white;
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.2rem;
}
.control input,
.control textarea {
  background-color: #dcfff9;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  min-height: 2rem;
  width: 100%;
  font: inherit;
  padding: 0.25rem;
}
form.form button:not(.cancel_btn) {
  background-color: #dcfff9;
  transition: all 0.1s;
}
form.form button:is(:hover, :active) {
  background-color: white;
}
.form button.cancel_btn {
  background-color: transparent;
  color: white;
}
.form button.cancel_btn:is(:hover, :active) {
  background-color: #ffffff33;
  border-radius: 18px;
}
.form :is(.success, .error) {
  text-align: start;
  font-size: 1rem;
  font-weight: bold;
}
.form .success {
  color: white;
}
.form .error {
  color: darkred;
}
